node_modules
.env
dist
build
coverage
*.log
.DS_Store
.vscode
.idea
*.iml
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.cache
*.tsbuildinfo
*.eslintcache
*.prettiercache
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.pem
*.key
*.crt
*.pfx
*.cer
*.der

# Ignore all files in the public directory except for index.html
public/*
!public/index.html
