

.env


node_modules
dist
dist-ssr
*.local
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Optional npm cache directory
.npm
.eslintcache
.next   
.cache
.nuxt
.out
coverage
.build
# dotenv environment variables file
.env
.env.test
.env.production
.env.local
.env.*.local
# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache
# Next.js build output
.next
# Nuxt.js build output
.nuxt

